<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866110171338-5iim6tktrfvnk4jijoesjgkug4ao6su3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866110171338-5iim6tktrfvnk4jijoesjgkug4ao6su3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>866110171338-nkumetgr1j7t747m8vnkuds8r32blo2f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1ul-7ZilqnG0Ck0Apk_3D6Z9nFr45cds</string>
	<key>GCM_SENDER_ID</key>
	<string>866110171338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catalogoja.app</string>
	<key>PROJECT_ID</key>
	<string>catalogo-ja-89aae</string>
	<key>STORAGE_BUCKET</key>
	<string>catalogo-ja-89aae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866110171338:ios:a71004a3d73b26e7b22c33</string>
	<key>DATABASE_URL</key>
	<string>https://catalogo-ja-89aae-default-rtdb.firebaseio.com</string>
</dict>
</plist>